/*-----------------------------------------------------------------------------------*/

/*  -  Navbar fixd page
/*-----------------------------------------------------------------------------------*/

.subpage-nav {
  display: block !important;
  position: relative;
}
nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/*-----------------------------------------------------------------------------------*/

/*  /* FINSTEP page */

/*-----------------------------------------------------------------------------------*/

/*  Header */

#header-fin {
  background: url("../images/portfolio/header_finstep.svg") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
}


#header-fin .header-fin-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-fin-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.header-fin-content p {
  font-size: 18px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.header-fin-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-fin-content .list-social li i {
  color: #fff;
  font-size: 15px;
}


/* 背景概述 */

.main-content {
  background: #fff;
}

.main-content .container-main {
  display: inline-block;
  width: 100%;
}

.main-content .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}

.container-main .block-main .content-main {
  background: #f8f8f8 none repeat scroll 0 0;
  display: inline-block;
  width: 100%;
}

.post-meta ul li {
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
  margin-right: 8px;
  text-transform: capitalize;
  display: inline-block;
  float: none;
}

/* 訪問節錄 */

#Interview,  #Interview-blog {
  height: auto;
  width: 100%;
  background: #fff;
  padding-bottom: 60px;
  position: relative;
}

#Interview-blog {
  background: #fff;
  padding-bottom: 30px;
}

#Interview .Interview-block {
  display: inline-block;
  height: auto;
  width: 100%;
}

#Interview .Interview-block .Interview-info {
  text-align: center;
  position: relative;
}

.Interview-title{
  padding: 15px 0px 35px 15px;
}

.Interview-link{
  text-align: center;
  padding: 15px 15px 35px 15px;
}

.Interview-block .Interview-info img {
  max-width: 100%;
}

.Interview-block .Interview-info .Interview-txt {
  padding: 25px 0px;
  position: relative;
}
.Interview-txt h4{
  font-size: 18px;
  line-height: 25px;
}

.Interview-block .Interview-info .Interview-txt p {
  margin: 10px 0px 20px 0px;
  font-size: 16px;
  line-height: 24px;
}


/* my role */
.role {
  padding-left: 20px;
  background: #f8f8f8;
}

.role .container-main {
  display: inline-block;
  width: 100%;
}

.role .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}

.post-meta ul li {
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
  margin-right: 8px;
  text-transform: capitalize;
  display: inline-block;
  float: none;
}

/* Survey */

.survey {
  padding-left: 20px;
  background: #fff;
}

.survey .container-main {
  display: inline-block;
  width: 100%;
}

.survey .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}

.survey_txt{
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-meta ul li {
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
  margin-right: 8px;
  text-transform: capitalize;
  display: inline-block;
  float: none;
}
.survey_result{
    text-align: center;
}

/* Persona */

.persona {
  padding-left: 18px;
  background: #f8f8f8;
}

.persona .container-main {
  display: inline-block;
  width: 100%;
}

.persona .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}
.persona-text{
    padding-bottom: 40px;
}

/* needed */
.needed-text-fin{
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    color: #595FD1;
}
.solution-item{
    padding: 10px 0px 10px 30px; 
}

.solution-img{
    padding-right: 20px;
}
.solution-flow{
    padding-top: 50px;
}


/*-----------------------------------------------------------------------------------*/

/*  /* 預約服務 page */

/*-----------------------------------------------------------------------------------*/

/*  Header */

#header-book {
  background: url("../images/portfolio/header_booking.png") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
}


#header-book .header-book-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-book-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.header-book-content p {
  font-size: 18px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.header-book-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-book-content .list-social li i {
  color: #fff;
  font-size: 15px;
}

/* 背景概述 */

.book_function{
    padding-top: 40px;
}

/* 客群背景 */


.client {
  padding-left: 20px;
  background: #f8f8f8;
}

.client .container-main {
  display: inline-block;
  width: 100%;
}

.client .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}

.client-text{
    padding-bottom: 40px;
}

.client-item{
    padding-bottom: 20px;
}
.client-text{
    padding: 30px 0px 0px 0px;
}
.client-name{
    font-size: 16px;
}

/* needed */

.needed-text{
    text-align: left;
    color: #313131;
    line-height: 25px;
}

/* goal */
.goal {
  padding-left: 18px;
  background: #fff;
}

.goal .container-main {
  display: inline-block;
  width: 100%;
}

.goal .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}
.goal-text{
    font-size: 20px;
    font-weight: 500;
    color: #82B513;
    padding-bottom: 40px;
}

/* user story mapping */

.container-mapping .block-mapping .content-mapping {
  background: #f8f8f8 none repeat scroll 0 0;
  display: inline-block;
  width: 100%;
}

.content-mapping {
  text-align: center;
  vertical-align: middle;
  background: #fff;
}

.content-mapping .container-mapping {
  display: inline-block;
  width: 100%;
}

.content-mapping .container-mapping .block-mapping {
  margin-bottom: 30px;
  overflow: hidden;
}

/* solution */
*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
ul-so{
  width: 100%;
  display: block;
  margin: 1em auto;
  border-collapse: collapse;
}
.thead{
    display: table-header-group;
}
.tr{
    display: table-row;
}
.tbody{
    display: table-row-group;
}
.thead li, .tr li{
  display: table-cell;
  padding: 5px;
  border: 1px solid #aaa;
}
.thead li{
  text-align: center;
  font-weight: bold;
  background: #fff;
  padding: 10px;
}

/*-----------------------------------------------------------------------------------*/

/*  /* SU page */

/*-----------------------------------------------------------------------------------*/

/*  Header */

#header-SU {
  background: url("../images/portfolio/header_SU.png") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
}


#header-SU .header-SU-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-SU-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.header-SU-content p {
  font-size: 18px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.header-SU-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-SU-content .list-social li i {
  color: #fff;
  font-size: 15px;
}

/* solution */

.solution-text-su{
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    color: #313131;
}


/*-----------------------------------------------------------------------------------*/

/*  /* Bonny page */

/*-----------------------------------------------------------------------------------*/

/*  Header */

#header-bonny {
  background: url("../images/portfolio/header_bonny.png") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
}


#header-bonny .header-bonny-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-bonny-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.header-bonny-content p {
  font-size: 18px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.header-bonny-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-bonny-content .list-social li i {
  color: #fff;
  font-size: 15px;
}